.flexbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}

.flexbox-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gap{
  gap: 30px;
}

.container{
  height: 100vh;
  background-image: url(../assets/wall.png);
}

.menu{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #000000;
  color: #ffffff;
  border-bottom: 5px solid #f5bf41;
}

.red-text {
  color: #9C0000;
  padding-right: 15px;
}

.menu-lives img{
  height: 35px;
}

.panel{
  margin-top: 1rem;
  width: 100%;
}

.square{
  height: 150px;
  width: 150px;
  border: 1px solid #000000;
  background-color: #00ddbc;
}

.enemy{
  background-image: url(../assets/ralph.png);
  background-size: cover;
}